{cover_enabled, true}.

{ct_cover, true}.
{ct_verbose, true}.

{deps_error_on_conflict, true}.

{dialyzer_plt_location, local}.
{dialyzer_warnings, [error_handling,
    overspecs,
    race_conditions,
    specdiffs,
    underspecs,
    unknown,
    unmatched_returns
]}.

{eunit_opts, [
    {skip_deps, true},
    verbose
]}.
